nav{ width: 0;
    background-color: black;
    color: #000000;
    text-align: left;
    position: fixed;
    opacity: 0.8;
    padding: 10px 0;
    transition: width 2s ;
}
nav ul{
    color: white;
    list-style: none;
    text-decoration: none;
}
.show{
    width: 250px;

}